{% extends 'layout.html' %}

{% block title %}
    Buy Art
{% endblock %}

{% block activeBuy %}
active
{% endblock %}

{% block main %}
<div id="buy-content">
    <section id="market">
        <div id="products">
            <div id="buy-top" class="d-flex flex-column justify-content-center align-items-center" style="
    background-image: url({{ url_for('static', filename='images/buy.jpg') }});">
                <h2 class="display-3 font-weight-bold" style="color:white;">BUY</h2>
            </div>
            <div class="container-lg">
                <div id="items" class="row justify-content-center mt-5">
                    <div class="col-12 col-md-6 col-lg-4 d-flex justify-content-center">
                        <div class="card m-4 shadow bg-white rounded" style="width: 20rem;">
                            <div class="inner">
                                <img class="card-img-top" src="static/images/painting1.jpg" alt="Card image cap" height="180"
                                    width="286">
                            </div>
                            <div class="card-body text-center">
                                <h5 class="card-title">Abstract Art</h5>
                                <p class="card-text">Made by Paweł Czerwiński</p>
                                <p class="card-text font-weight-bold">Price: $459</p>
                                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                                <a href="#" class="btn btn-success px-4">Buy</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4 d-flex justify-content-center">
                        <div class="card m-4 shadow bg-white rounded" style="width: 20rem;">
                            <div class="inner">
                                <img class="card-img-top" src="static/images/painting1.jpg" alt="Card image cap" height="180"
                                    width="286">
                            </div>
                            <div class="card-body text-center">
                                <h5 class="card-title">Abstract Art</h5>
                                <p class="card-text">Made by Paweł Czerwiński</p>
                                <p class="card-text font-weight-bold">Price: $459</p>
                                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                                <a href="#" class="btn btn-success px-4">Buy</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4 d-flex justify-content-center">
                        <div class="card m-4 shadow bg-white rounded" style="width: 20rem;">
                            <div class="inner">
                                <img class="card-img-top" src="static/images/painting1.jpg" alt="Card image cap" height="180"
                                    width="286">
                            </div>
                            <div class="card-body text-center">
                                <h5 class="card-title">Abstract Art</h5>
                                <p class="card-text">Made by Paweł Czerwiński</p>
                                <p class="card-text font-weight-bold">Price: $459</p>
                                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                                <a href="#" class="btn btn-success px-4">Buy</a>
                            </div>
                        </div>
                    </div>
                
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}