{% extends 'layout.html' %}

{% block title %}
Buy
{% endblock %}

{% block activeBuy %}
active
{% endblock %}

{% block main %}
<div id="buy-content">
    <section class="main-section">
        <div id="products">
            <div id="buy-top" class="d-flex flex-column justify-content-center align-items-center top" style="
    background-image: url({{ url_for('static', filename='images/buy.jpg') }});">
                <h2 class="display-3 font-weight-bold" style="color:white;">BUY</h2>
            </div>
            <div class="container-lg">
                {% if empty == True %}
                    <div class="container my-5">
                        <div class="jumbotron dash-jumbo text-center p-3">
                            <h1 class="display-4">Sorry there are no items up for sale right now!</h1>
                        </div>
                        <div class="d-flex justify-content-center">
                            <a href="/sell" class="btn btn-primary">I'll sell instead</a>
                        </div>
                    </div>
                {% else %}
                    <div id="items" class="row justify-content-center mt-5">
                        {% for row in rows %}
                        <div class="col-12 col-md-6 col-lg-4 d-flex justify-content-center">
                            <div class="card m-4 shadow bg-white rounded" style="width: 20rem;">
                                <div class="inner">
                                    <img class="card-img-top" src="{{ url_for('static', filename='uploads/') }}{{ row[5] | basename }}"
                                        alt="Card image cap" height="180" width="286">
                                </div>
                                <div class="card-body text-center">
                                    <h5 class="card-title">{{ row[1] }}</h5>
                                    <p class="card-text">Made by {{ row[2] }} </p>
                                    <p class="card-text font-weight-bold">Price: ${{ row[3] }}</p>
                                    <p class="card-text"><small class="text-muted">Posted on {{ row[6] | format_date}}</small></p>
                                    <input type="text" name="id" value="2" style="display: none;">
                                    <form action="/addToCart" method="post">
                                        <input type="text" name="id" value="{{ row[0] }}" style="display: none;">
                                        <button type=submit class="btn btn-success px-4">Buy</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>
    </section>
</div>
{% endblock %}