{% extends 'layout.html' %}

{% block title %}
Cart
{% endblock %}

{% block styleCart %}
style="background-color: white;"
{% endblock %}
{% block activeCart %}
active
{% endblock %}

{% block main %}
<section class="main-section">
    <div id="cart-top" class="d-flex flex-column justify-content-center align-items-center top" style="
    background-image: url({{ url_for('static', filename='images/cart.jpg') }});">
        <h2 class="display-3 font-weight-bold" style="color:white;">Cart</h2>
    </div>
    <div id="cart-items" class="my-5 container">
        <table class="table table-responsive-sm">
            <thead>
                <tr>
                    <th scope="col" style="width: 20%">Art</th>
                    <th scope="col" style="width: 20%">Title</th>
                    <th scope="col" style="width: 20%">Artist</th>
                    <th scope="col" style="width: 20%">Seller</th>
                    <th scope="col" style="width: 20%">Price</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <td colspan="4"></td>
                    <td>${{ total }}</td>
                </tr>
            </tfoot>
            <tbody>
                {% for row in rows %}
                <tr>
                    <td><img src="{{ url_for('static', filename='uploads/') }}{{ row[5] | basename }}" alt="Cart Image" width="auto"
                            height="100px"></td>
                    <td>{{ row[1] }}</td>
                    <td>{{ row[2] }}</td>
                    <td>{{ row[4] }} Hassan</td>
                    <td>${{ row[3] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="container d-flex justify-content-center">
            <button type="button" class="btn btn-primary px-3 align-self-center" data-toggle="modal" data-target="#buyModal">
                Buy
            </button>
            
            <!-- Modal -->
            <div class="modal fade" id="buyModal" tabindex="-1" role="dialog" aria-labelledby="confirmation"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="confirmation">Confirmation</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            Do you want to buy the item(s) for ${{ total }}?
                        </div>
                        <div class="modal-footer d-flex justify-content-center">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                            <a href="/bought" class="btn btn-success px-4">Buy</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</section>
{% endblock %}