{% extends 'layout.html' %}

{% block title %}
Cart
{% endblock %}

{% block styleCart %}
style="background-color: white;"
{% endblock %}
{% block activeCart %}
active
{% endblock %}

{% block main %}
<section id="cart">
    <div id="cart-top" class="d-flex flex-column justify-content-center align-items-center top" style="
    background-image: url({{ url_for('static', filename='images/cart.jpg') }});">
        <h2 class="display-3 font-weight-bold" style="color:white;">Cart</h2>
    </div>
    <div id="cart-items" class="my-5 container">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Title</th>
                    <th scope="col">Seller</th>
                    <th scope="col">Price</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <td colspan="2"></td>
                    <td>${{ total }}</td>
                </tr>
            </tfoot>
            <tbody>
                {% for row in rows %}
                <tr>
                    <td><img src="{{ url_for('static', filename='images/cart.jpg') }}" alt="" width="auto"
                            height="100px"></td>
                    <td>{{ row[1] }}</td>
                    <td>{{ row[3] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</section>
{% endblock %}