{% extends 'layout.html' %}

{% block title %}
Dashboard
{% endblock %}

{% block main %}
<div id="dashboard-content">
    <section class="main-section">
        <div class="message-screen">
            <div id="buy-top" class="d-flex flex-column justify-content-center align-items-center top" style="
            background-image: url({{ url_for('static', filename='images/dashboard.jpg') }});">
                <h2 class="display-3 font-weight-bold" style="color:white;">DASHBOARD</h2>
            </div>
        </div>
    </section>
</div>
{% endblock %}