<!DOCTYPE html>
<html lang="en">

<head>
    <title>{% block title %} {% endblock %}</title>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta name="description" content="A place to buy and sell art!">
    <meta name="author" content="Hassan Suhaib">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/styles/styles.css">
</head>

<body>
    <header>
        <nav id="my-nav" class="navbar navbar-expand-md navbar-light fixed-top py-0" {% block styleCart %}  {% endblock %}>
            <a id="brand" class="navbar-brand ml-lg-5" href="/">The Art Gallery</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent"
                aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse mr-lg-5" id="navbarContent">
                <ul class="navbar-nav ml-auto">
                    {% if session.user_id %}
                        <li class="nav-item {% block activeBuy %} {% endblock %}">
                            <a class="nav-link hover-ef" href="/buy">Buy<span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item {% block activeSell %} {% endblock %}">
                            <a class="nav-link hover-ef" href="/sell">Sell<span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item {% block activeCart %} {% endblock %}">
                            <a class="nav-link hover-ef" href="/cart">Cart<span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item dropdown ml-3">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                                hassan_suhaib
                            </a>
                            <div id="dropdown" class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#">Log Out</a>
                            </div>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link hover-ef" href="/login">Login <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link hover-ef" href="/register">Register <span class="sr-only">(current)</span></a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    </header>
    <main>
        {% block main %}
        {% endblock %}
    </main>
    <footer>The Art Gallery 2020. All rights Reserved.</footer>

    <script src="/static/bootstrap/jquery.min.js"></script>
    <script src="/static/bootstrap/popper.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
    <script>
        $(function () {
            $(document).scroll(function () {
                var $nav = $("#my-nav");
                $nav.toggleClass("scrolled", $(this).scrollTop() > $nav.height());
            })
        })
    </script>
</body>

</html>