{% extends 'layout.html' %}

{% block title %}
Register
{% endblock %}

{% block main %}
<section class="main-section">
    <div id="register-top" class="d-flex flex-column justify-content-center align-items-center top" style="
            background-image: url({{ url_for('static', filename='images/register.jpg') }});">
        <h2 class="display-3 font-weight-bold" style="color:white;">Register</h2>
    </div>
    <div id="register-form" class="container col-8 col-sm-6 col-lg-4 col-xl-3 my-5">
        <form action="/register" method="post">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="firstName">Frist Name:</label>
                    <input name="firstName" type="text" class="form-control" id="firstName" required>
                </div>
                <div class="form-group col-md-6">
                    <label for="lastName">Last Name:</label>
                    <input name="lastName" type="text" class="form-control" id="lastName" required>
                </div>
            </div>
            <div class="form-group">
                <label for="inputName">Username:</label>
                <input type="text" name="username" class="form-control" id="inputName" aria-describedby="username" required>
            </div>
            <div class="form-group">
                <label for="inputCountry">Country:</label>
                <input type="text" name="country" class="form-control" id="inputCountry" aria-describedby="country" required>
            </div>
            <div class="form-group">
                <label for="inputPassword">Password:</label>
                <input type="password" name="password" class="form-control" id="inputPassword" required>
                <small id="passwordHelp" class="form-text text-muted">Don't use a password that you use
                    on other sites.</small>
            </div>
            <div class="form-group">
                <label for="inputPassword">Password Again:</label>
                <input type="password" name="secPassword" class="form-control" id="secPassword" required>
            </div>
            <div class="form-group d-flex justify-content-center mt-5">
                <button type="submit" class="btn btn-primary">Register</button>
            </div>
        </form>
    </div>
</section>
{% endblock %}