/* Header Styling */

.jumbotron {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
}

.jumbotron hr {
    width: 22rem;
}

#brand {
    font-family: 'Dancing Script', 'Helvetica Neue', Helvetica, Arial;
    font-size: 2rem !important;
}

#my-nav a {
    font-size: 1.25rem;
    position: relative;
}

#dropdown a {
    font-size: 1rem;
}

.hover-ef::after {
    content: '';
    top: 0;
    left: 0;
    transform: translateY(10px);
    transition: transform 0.3s ease;
    opacity: 0;
    height: 100%;
    width: 100%;
    border-bottom: 2px solid #343a40;
    position: absolute;
}

.hover-ef:hover::after {
    opacity: 1;
    transform: translateY(0);
}

.navbar.scrolled {
    background-color: #FFFFFF;
    transition: background 250ms;
}

#sell-btn {
    color: #033C71;
    border-color: #033C71;
}

#sell-btn:hover {
    color: #FFFFFF;
    background-color: #033C71;
}

/* About Us */

#about-us {
    height: 100vh;
}

.about-image {
    background-image: url('/images/about.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

/* buy.html */

.main-section {
    padding-top: 60px;
}

#products {
    width: 100%;
}

.top {
    height: 150px;
    background-position: center bottom;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* Cards */

.inner {
    overflow: hidden;
}

.inner img {
    transition: all 500ms ease;
}

.inner:hover img {
    transform: scale(1.5);
}

/* Sell.html */

/* Cart.html */

.empty {
    background-color: green;
}

main table {
    text-align: left;
}

main tfoot {
    font-weight: bold;
}

.table th {
    border-top: none;
}

/* Footer */

footer {
    text-align: center;
    padding: 20px;
    bottom: 0;
    left: 0;
    right: 0;
}

@media only screen and (max-width: 768px) {
    .navbar {
        background-color: white;
    }
    .jumbotron {
        background-position: -150px 0px;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
    }
}

@media only screen and (max-width: 992px) {}